main.crt
	header
		.title ACTIO.ME
		ul
			li.lvl.ps-top-to-bottom 
				.text LVL 
				.value 1
			li.hp.ps-right-top-to-bottom 
				.text HP 
				.value 200/200
			li.ap.ps-right-top-to-bottom 
				.text AP
				.value 75/75
			li.xp.ps-right-top-to-bottom 
				.text XP 
				.value ??? days
	section 
		.list
			ul
				li ......COMING SOON
				li [SIGN UP] [____________________]
				
	footer.ps-bottom-to-top
		ul
			li Status
			li.active Skills
			li Work
			li Contact

// Articles: 
// http://aleclownes.com/2017/02/01/crt-display.html